*,
*::after,
*::before {
    box-sizing: border-box;
}


datalist {
    position: absolute;
    top: 56px;
    width: inherit;

    background-color: lightgrey;
    font-family: sans-serif;
    font-size: 0.8rem;

    padding-block: 12px;
    border-radius: 8px;
}

option {
    padding: 8px 12px;
    margin-bottom: 1px;
    cursor: pointer;
}

option:hover {
    background-color: #bbb;

}

input {
    width: 100%;
    padding: 12px;
}

div {
    width: 400px;
}