:root {
    --color-accent: #EF556A;
    --color-off-white: #E7F0F5;
    --color-off-black: #282D30;
    --color-gold: #FF9D3B;
    --color-blue: #498CBB;
    --color-green: #7CBD40;
    --color-white: #fff;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    color: var(--color-off-black);

    background-color: var(--color-off-white);
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Archivo", sans-serif;
    color: var(--color-off-black);
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--Off-Black, #282D30);

    /* Heading Styles/H1 */
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 800;
    line-height: 114.286%;
    letter-spacing: -1.12px;
    text-transform: capitalize;
}

h3 {
    /* Heading Styles/H3 */
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
}


h5,
.btn {
    /* Heading Styles/H5 */
    font-family: Archivo;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 116.667% */
    text-align: center;
    letter-spacing: -0.24px;
}

h6 {
    /* Heading Styles/H6 */
    font-family: Archivo;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
}


img {
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-off-black);
}


/* UTILITIES */
.container {
    width: 100%;
    height: fit-content;
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 6vw;
}

.body-r {
    color: var(--Off-Black, #282D30);

    /* Body Styles/Body-regular */
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 137.5% */
    letter-spacing: -0.16px;
}

.body-b {
    /* Body Styles/Body-Bold */
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.16px;
}

.button-r {
    /* Body Styles/Button-regular */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.text-caption {
    /* Body Styles/Caption */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.12px;
}

.btn h6 {
    color: var(--color-off-white);
}

.btn {
    display: flex;
    gap: 64px;
    width: auto;
    padding: 16px 24px;
    justify-content: space-between;
    align-items: center;
    outline: 0;
    border: 0;
    white-space: nowrap;


    border-radius: 12px;
    transition: background 200ms ease-in;
}

.btn-icon::after {
    content: '';
    display: inline-block;
    background: url('../images/arrow-right.svg') no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;


    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(4030%) hue-rotate(182deg) brightness(112%) contrast(88%);

}

.btn--ghost {
    padding: 16px;

    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;

    border-radius: 8px;
    border: 2px solid #282D30;
    background: rgba(255, 255, 255, 0.50);

    transition: all 100ms ease-in;
}

.btn--ghost.btn-icon::after {
    width: 12px;
    height: 12px;
    filter: brightness(0) saturate(100%) invert(14%) sepia(5%) saturate(1066%) hue-rotate(159deg) brightness(102%) contrast(91%);
}

.btn--ghost:hover {
    color: var(--color-off-white);
    background-color: var(--color-off-black);
}

.btn--ghost:hover.btn-icon::after {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(4030%) hue-rotate(182deg) brightness(112%) contrast(88%);
}


.btn--primary {
    color: var(--color-off-white);
    background: var(--color-accent);

}

.btn--primary:hover {
    color: var(--color-off-white);
    background: #BD4B5C;
}

.btn--secondary {
    color: var(--color-off-black);
    border: 1.5px solid var(--color-accent, #EF556A);
    background: rgba(239, 85, 106, 0.05);
    transition: background 100ms ease;

}

.btn--secondary:hover {
    background: rgba(239, 85, 106, 0.2);
}

.btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.chip {
    display: inline-flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    cursor: default;
    border-radius: 40px;
    border: 0.75px solid rgba(231, 240, 245, 0.75);
    background: rgba(40, 45, 48, 0.15);

    color: var(--Off-white, #E7F0F5);
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: -0.1px;
}

.chip--brand {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    font-size: 10px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: -0.1px;
    text-transform: capitalize;

    cursor: default;
    border-radius: 40px;
    border: 0.75px solid var(--Off-Black, #282D30);
}

.chip--brand::before {
    content: '';
    display: inline-block;
    background: url('../images/brand-Icon.svg') no-repeat;
    background-size: contain;
    width: 10px;
    height: 10px;

    filter: brightness(0) saturate(100%) invert(14%) sepia(5%) saturate(1066%) hue-rotate(159deg) brightness(102%) contrast(91%);

}

.x-div {
    display: flex;
    padding: 20px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.x-div svg {
    width: 100%;

    stroke-width: 1.5px;
    stroke: rgba(40, 45, 48, 0.25);
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.title .text {
    width: 700px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.title .btn {
    padding: 20px;
    width: 280px;
}

.title .btn svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;

}

/*  */



@media screen and (max-width: 900px) {
    .container {
        /* max-width: 800px; */
        margin-inline: auto;
        padding-inline: 32px;
    }

    h6 {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
    }


    .hero__content .body-r {
        font-size: 14px;
        line-height: 18px;
        width: 100%;
    }

    .btn {
        width: 240px;
        padding: 14px 16px;
        font-size: 16px;
        border-radius: 8px;
        white-space: nowrap;
    }

    .btn-icon::after {
        width: 16px;
        height: 16px;
    }

    .chip--brand {
        padding: 8px;
        gap: 2px;

        font-size: 8px;
        line-height: 8px;
        letter-spacing: -0.08px;

    }

    .chip--brand::before {
        content: '';
        width: 8px;
        height: 8px;
    }


    .title .text {
        gap: 4px;
        width: 350px;
    }

    .text h3 {
        font-size: 24px;
        line-height: 28px;
    }

    .title .btn {
        padding: 12px;
        gap: 48px;
        width: auto;
    }

    .title .btn h6 {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.16px;
    }

    .title .btn svg {
        height: 16px;
        width: 16px;
    }






}

@media screen and (max-width: 600px) {
    .container {
        /* max-width: 800px; */
        margin-inline: auto;
        padding-inline: 16px;
        overflow: hidden;
    }

    h6 {
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
    }


    .hero__content .body-r {
        font-size: 14px;
        line-height: 18px;
        width: 100%;
    }

    .btn {
        width: 100%;
        padding: 14px 16px;
        font-size: 16px;
        border-radius: 8px;
        white-space: nowrap;
    }

    .btn-icon::after {
        width: 16px;
        height: 16px;
    }


    .title {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
    }

    .title .text {
        width: 88%;
    }

    .title .btn {
        width: 100%;
    }



}

@media screen and (max-width: 400px) {}