:root {
    --color-accent: #EF556A;
    --color-off-white: #E7F0F5;
    --color-off-black: #282D30;
    --color-gold: #FF9D3B;
    --color-blue: #498CBB;
    --color-green: #7CBD40;
    --color-white: #fff;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    color: var(--color-off-black);

    background-color: var(--color-off-white);
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Archivo", sans-serif;
    color: var(--color-off-black);
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--Off-Black, #282D30);

    /* Heading Styles/H1 */
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 114.286%;
    letter-spacing: -1.12px;
    text-transform: capitalize;
}


h5,
.btn {
    /* Heading Styles/H5 */
    font-family: Archivo;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 116.667% */
    text-align: center;
    letter-spacing: -0.24px;
}


img {
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-off-black);
}


/* UTILITIES */
.container {
    width: 100%;
    height: fit-content;
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 6vw;
}

.body-r {
    color: var(--Off-Black, #282D30);

    /* Body Styles/Body-regular */
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 137.5% */
    letter-spacing: -0.16px;



}

.btn {
    display: flex;
    width: 300px;
    padding: 16px 24px;
    justify-content: space-between;
    align-items: center;
    outline: 0;
    border: 0;
    white-space: nowrap;


    border-radius: 12px;
    transition: background 200ms ease-in;
}

.btn-icon::after {
    content: '';
    display: inline-block;
    background: url('../images/arrow-right.svg') no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;


    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(4030%) hue-rotate(182deg) brightness(112%) contrast(88%);

}

.btn--primary {
    color: var(--color-off-white);
    background: var(--color-accent);

}

.btn--primary:hover {
    color: var(--color-off-white);
    background: #BD4B5C;
}

.btn--secondary {
    color: var(--color-off-black);
    border: 1.5px solid var(--color-accent, #EF556A);
    background: rgba(239, 85, 106, 0.05);
    transition: background 100ms ease;

}

.btn--secondary:hover {
    background: rgba(239, 85, 106, 0.2);
}

.btn__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

/* HERO */

.hero {
    position: relative;
    display: flex;
    height: 90vh;
    /* padding: 80px; */
    justify-content: center;
    align-items: center;
    gap: 8px;
    overflow: hidden;

    background: linear-gradient(90deg, rgba(11, 109, 160, 0.25) 25%, rgba(231, 240, 245, 0.10) 75%), url(../images/physician-consulting-his-patient-clinic.jpg) center / cover no-repeat;

}

.hero__content {
    display: flex;
    width: fit-content;
    padding: 40px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    border-radius: 24px;
    background: rgba(231, 240, 245, 0.75);
    backdrop-filter: blur(6px);
}

.hero__content h1 {
    width: 600px;
}

.hero__content .body-r {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 500;
    width: 575px;
    opacity: 0.7;
}


@media screen and (max-width: 900px) {
    .container {
        /* max-width: 800px; */
        margin-inline: auto;
        padding-inline: 32px;
    }

    .hero {
        padding-block: 40px;
        height: 80vh;
        overflow: hidden;

    }

    .hero__content {
        width: 60vw;
        padding: 40px 24px;
        gap: 20px;

        border-radius: 16px;
        background: rgba(231, 240, 245, 0.75);
        backdrop-filter: blur(6px);
    }

    .hero__content h1 {
        width: 100%;
        font-size: 40px;
        line-height: 44px;
    }

    .hero__content .body-r {
        font-size: 14px;
        line-height: 18px;
        width: 100%;
    }

    .btn {
        width: 240px;
        padding: 14px 16px;
        font-size: 16px;
        border-radius: 8px;
        white-space: nowrap;
    }

    .btn-icon::after {
        width: 16px;
        height: 16px;
    }


}

@media screen and (max-width: 600px) {
    .container {
        /* max-width: 800px; */
        margin-inline: auto;
        padding-inline: 16px;
        overflow: hidden;
    }

    .hero {
        padding-block: 86px;
        height: 90vh;
        justify-content: flex-end;
        align-items: flex-end;
        overflow: hidden;


    }

    .hero__content {
        width: 100%;
        padding: 32px 16px;
        gap: 12px;

        border-radius: 12px;
        background: rgba(231, 240, 245, 0.75);
        backdrop-filter: blur(6px);
    }

    .hero__content h1 {
        width: 100%;
        font-size: 32px;
        line-height: 36x;
    }

    .hero__content .body-r {
        font-size: 14px;
        line-height: 18px;
        width: 100%;
    }

    .btn {
        width: 100%;
        padding: 14px 16px;
        font-size: 16px;
        border-radius: 8px;
        white-space: nowrap;
    }

    .btn-icon::after {
        width: 16px;
        height: 16px;
    }





}